.nav-button {
  margin-left: 1rem;
}

.navbar {
  font-family: "Oswald", sans-serif;
  background-color: #1c3277;
}

.navbar-light .navbar-brand {
  color: white;
}

#nav-item-white {
  color: white;
}
